.profile {
  font-weight: normal;
  line-height: 20px;
}
.profileContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.profileImg {
  display: block;
  margin: 0px auto 30px auto;
}

.profileImg img {
  max-height: 200px;
  min-width: 100%;
  max-width: 200px;
}
.profileContacts {
  max-width: 200px;
}
.profileLogo {
  display: inline-block;
  margin-right: 30px;
}

.profileLogo img {
  min-height: 200px;
  max-width: 200px;
  border: 1px solid #000;
}

.profileDescription {
  display: inline-block;
  max-width: 350px;
}
span {
  font-weight: normal;
}
