.content {
	padding: 30px;
	background-color: rgb(74, 188, 233);
	grid-area: c;
	min-height: 50vh;
}
.content img {
	display: block;
	max-height: 200px;
	min-width: 100%;
	margin: 0px auto 30px auto;
}